@import url('https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda');
@import url('http://fonts.cdnfonts.com/css/callie-chalk-font');
.App {
  height: 100vh;
  background-color: white;
  overflow-x: hidden;

}
.Sections {
  width: 100%;
  height: calc(100vh - 64x);
  background-color: white;
  position: absolute;
  top: 64px;
}
